body 
{
	margin: 0;
	padding:0px;
	overflow:hidden;
	
}

#right
{
	position: absolute;
	left:0;
	top:0;
	background-color: #382f70;
	width:34%;
	box-shadow:0 0 50px rgba(0,0,0,.6);
}
#center
{
	position: absolute;
	left:33.33%;
	top:0;
	background-color: #90c5a9;
	width:34%;
	box-shadow:0 0 50px rgba(0,0,0,.6);
}
#left
{
	position: absolute;
	left:66.66%;
	top:0;
	background-color: #ef6d3b;
	width:34%;
	box-shadow:0 0 50px rgba(0,0,0,.6);
}
svg
{
	-webkit-transform: translate3d(0, 0, 0);
}
